@model GCUSMS.ViewModels.UserClaimsVM

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{
    ViewData["Title"] = "Only Captain Page";
}

<div class="container">
    <h1 class="text-primary">Everything on this page is only available to team captains</h1>

    <p>
        Is This Visible to you?
    </p>
</div>