@{ ViewData["Title"] = "Tournament Participation Module"; }

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="d-flex justify-content-center">
    <h1 class="text-primary text-center"><i class="far fa-futbol"></i> Something Went Wrong!</h1>
</div>