@{ ViewData["Title"] = "Departmental Tournaments"; }

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="text-center mt-5">

    <span class="fas fa-exclamation-triangle text-red" style="font-size:17rem;"></span>
    <h1 class="m-5">Something Went Wrong</h1>
    <p class="text-muted">
        <br />
        Please Contact IT Team to resolve this issue.
    </p>
    <a class="btn btn-outline-secondary" asp-controller="Dashboard" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Go Back
    </a>

</div>