@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <section class="section-hero d-flex justify-content-center align-items-center faq-background-image"
             style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)) , url(../../main/images/img/gcu-faq2.png);
        background-size: cover;
        background-repeat: no-repeat;
">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center">
                        <h1 class="blog-heading">Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-blogpost">
        <div class="m-5">
            <div class="row">
                <div class="col-md-12" style="overflow:hidden;">
                    <p>
                        Administrator add tournaments to this application with their relevant details, administration can
                        choose to make a tournament public or can add it to the system to act on it later (make it
                        private
                        that is not visible to anybody except administrator). It also allows administration to make
                        tournaments departmental or university level.
                    </p>
                    <p>
                        These tournaments are visible to the users registered on this application. That can choose to
                        participate in them by providing a valid email address. List of participants is visible to the
                        administrator and to their respective head of departmental sports (or you can call him/her
                        captain
                        of the department). They can approve or reject the participation requests on this application.
                        &nbsp;Participants who have applied can see their form's status on their profile's dashboard if
                        the
                        have been selected or not? That makes the process of participation a lot easier.
                    </p>
                    <figure class="image"><img class="figureimage" src="/images/img/news.jpg"></figure>
                    <p>
                        Administrator can manage details related to the tournaments on this application. Such as the
                        tournament status if it is concluded or ongoing etc, administrator can add teams to the
                        tournament
                        and can update scoring criteria of the tournament that updates the points table of the
                        tournament.
                        Administrator can also create fixtures of the tournament using this application.
                    </p>
                    <hr>
                    <small class="text-muted">Edited by</small>
                    <hr>
                </div>
                </div>
            </div>
    </section>

