<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>README</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <img src="~/main/images/gcu-logo4.png" style="max-width:98vw" alt="GCU SMS" />

    <hr class="text-dark" />

    <h2 class="m-3 text-danger"> <strong> 🚫 CLONING OR DISTRIBUTION OF THIS PROJECT IS STRONGLY PROHIBITED UNDER ANY CIRCUMSTANCES 🚫 </strong></h2>

    <p class="m-3" style="font-size: 22px; max-width:98vw">
        This is a management application that can be primarily used by the sports department of an institute. This application provides many features and some of them are mentioned below.
    </p>

    <h1 class="m-3">Tournament Management</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">

        - Administrator of the application can create tournaments. <br />
        - Administrator of the application can manage the tournaments. <br />
        - Administrator can create accounts for the head of sports of a department, that can manage or create tournaments for their respective department. <br />
        - Administrator of the application can create fixtures based on the teams added to tournament. <br />
        - Administrator can choose to make tournaments public or can archive them. <br />
        - Users can see and partcipate in public tournaments. <br />
        - Users can submit one form per tournament. <br />
        - Administrator of the application can manage/edit the tournaments. <br />
        - Administrator can create captains from each department, captains can accept or reject the partcipation requests of users from their respective department. <br />
        - Administrator can edit details like name, venue, start date, end date, participation due date, expected teams in the tournament, scoring criteria, description etc. <br />
        - Administrator can view points tables of the tournament that is automatically calculated based on the matches won,lost or drawed by teams and the scoring criteria of the tournament. <br />
        - Administrator can create fixtures of the tournament that can be generated automatically based on the teams in the tournament. <br />

    </p>


    <h1 class="m-3">Team Management</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">

        - Administrator can create teams. <br />
        - Administrator can add players to the team. <br />
        - Administrator can remove players from the team. <br />
        - Administrator can edit players attributes for the team. <br />
        - Head of sports can create teams for their respective departments. <br />
        - Administrator can edit players attributes for the team. <br />

    </p>

    <h1 class="m-3">Blog Management</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">

        - Users can write blogs for this application. <br />
        - Blogs are displayed publically only after being approved by administrator. <br />
        - Users can choose to keep their blogs private or can submit them to administrator for approval. <br />
        - Administrator can edit and delete any blog. <br />
        - Administrator can write blogs and can categorize them as news too that are displayed seperately in the news section. <br />
        - Users can only edit or delete their own blogs. <br />
        - If any changes are made in blogs they have to be reapproved by administrator to be displayed publically. <br />
        - Users can comment on any blog. <br />
        - Users can delete their own comment only while admin can delete anyones comment. <br />
        - Users can add images or embed youtube videos in their blogs. <br />
        - This application helps effectively manage the storage space of the server by allowing users to keep track of images added by them and by keeping status of images whether they are being displayed in any blog or not. <br />

    </p>

    <h1 class="m-3">Leave Management</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">
        - Users can submit leaves. <br />
        - Administrator can accept or reject leaves submitted by users. <br />
    </p>


    <h1 class="m-3">Equipment Management</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">

        - Administrator can add equipment in the database to keep record of the inventory. <br />
        - Administrator can allocate equipment to the registered users of the application. <br />
        - Administrator can mark equipment as returned or lost. <br />

    </p>


    <h1 class="m-3">Gallery Management</h1>; max-width:98vw
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px">

        - Administrator can add images. <br />
        - Administrator can delete images. <br />
        - Administrator can view list of all images. <br />

    </p>


    <h1 class="m-3">User Management</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">

        - Administrator can view list of all users registered on the application. <br />
        - Administrator can edit details of the users. <br />
        - Administrator can reset password of the users. <br />
        - Administrator can view all the details associated with the users such as leaves of the user, blogs and comments written by the user, equipment allocated to the users, teams and tournaments user is part of etc. <br />
        - Users can also view details associated with accounts. <br />

    </p>

    <h1 class="m-3">Technologies used</h1>
    <hr class="text-dark" />
    <p class="m-3" style="font-size: 22px; max-width:98vw">
        - Some of the tools and technologies used to build this project are. <br />
        - ASP.NET Core 3.1 <br />
        - Entity framework core <br />
        - HTML/CSS <br />
        - Javascript/Jquery <br />
        - Bootstrap 4 <br />
        - Automapper <br />
        - AspNetHero.ToastNotification <br />
        - PagedList.Core.Mvc <br />
        - Microsoft SQL Server <br />
        - Visual Studio 2019 <br />
    </p>

</body>
</html>