@model List<GCUSMS.ViewModels.CkEditorImagesVM>

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@{ ViewData["Title"] = "Blog Editor Images"; }

<h1>Blog Editor Images</h1>

<p class="text-black-50">List of images that were added to the blog editor by you</p>

<div>
    <table id="TableData" class="display nowrap table table-striped table-bordered hover" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Image Thumbnail</th>
                <th scope="col">Is Active?</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var image in Model)
            {
            <tr>
                <td><img class="img-thumbnail ml-4 mt-3" src="@image.CkEditorImagePath" style="max-height:150px; max-width:150px;" alt="" /></td>
                @if (image.IsActive == true)
                {
                    <td><span class="badge badge-success">YES</span></td>
                }
                else
                {
                    <td><span class="badge badge-danger">NO</span></td>
                }
                @if (image.IsActive == true)
                {
                    <td>
                        <form method="post" asp-controller="Blog" asp-action="DeleteCkEditorImage" asp-route-id="@image.CkEditorImageId">
                            <button class="btn btn-secondary" onclick="return confirm('This image is in use. Deleting this image will not remove its link from your blog\n REMOVING THIS IMAGE FROM YOUR BLOG BEFORE DELETING IS RECOMMENDED!')">Delete <i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form method="post" asp-controller="Blog" asp-action="DeleteCkEditorImage" asp-route-id="@image.CkEditorImageId">
                            <button class="btn btn-danger" onclick="return confirm('Image is being deleted!')">Delete <i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        // Write your JavaScript code.
        $(document).ready(function () {
            $('#TableData').DataTable({

                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return data[1]
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                    }
                },

                dom: 'Bfrtip',
                buttons: [
                    { extend: 'pdf', className: 'btn btn-primary' },
                    { extend: 'print', className: 'btn btn-primary' },
                    { extend: 'copy', className: 'btn btn-primary' },
                    { extend: 'csv', className: 'btn btn-primary' },
                    { extend: 'excel', className: 'btn btn-primary' }
                ]
            });
        });
    </script>
}
